[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-facebook-api = "*"
selenium = "*"
keras = "*"
notebook = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
xlsxwriter = "*"
openpyxl = "*"
liwc = "*"
nltk = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
